<script setup lang="ts">
export interface Extable {
  id: number;
  text: String;
}
import type { PropType } from "vue";
const props = defineProps({
  todo: {
    type: Object as PropType<Extable>,
    required: true,
  },
});
</script>
<template>
  <li>{{ todo.text }}</li>
</template>
<style></style>
