<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
import HelloworldExample from "./components/HelloworldExample.vue";
import HandlingUserinput from "./components/HandlingUserinput.vue";
import AttributeBindings from "./components/AttributeBindings.vue";
import ConditionAppLoops from "./components/ConditionAppLoops.vue";
import formBindingsVue from "./components/formBindings.vue";
import SimpleComponentVue from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponentVue />
    <br /><br />
    <formBindingsVue />
    <br /><br />

    <ConditionAppLoops />
    <br />
    <br />

    <AttributeBindings />
    <HandlingUserinput />
    <CalComponent />
    <HelloworldExample />
  </div>
</template>

<style scoped></style>
